@charset "UTF-8";

@media screen and (max-width: 1920px) {
    .veil {
        background-image: url(images/Seraphine.jpg);
        z-index: -1;
        background-color: #fff;
        opacity: 0.3;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }

    .contents {
        width: 1347px;
    }

    .titleSkills {
        img {
            width: 50px;
        }
    }

    .skillsVideos {
        height: 272px;

        video {
            width: 400px;
        }
    }
}

@media screen and (max-width: 1770px) {

    .topMenu {
        height: 124px;

        .home {
            font-size: 40px;
            display: flex;
            justify-content: center;
        }

        .imgHome {
            width: 120px;
            margin-top: 2px;
        }
    }

    .topMenuSpacing {
        height: 100px;
    }

    .leftMenu {
        margin-left: -500px;
    }

    .leftMenuBuilds {
        margin-left: -500px;
    }

    .leftMenuSkins {
        margin-left: -500px;
    }

    .contents {
        margin: auto;
        width: 1000px;

        h1 {
            width: 100%;
        }
    }

    .piltovers {
        width: 1000px;

        img {
            width: 95px;
        }
    }

    .skills {
        width: 1000px;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 100px;
        }
    }

    .titleSkills {
        img {
            width: 0px;
        }
    }

    .baseboard {
        height: 75px;

        a {
            margin-left: 0px;
            font-size: 40px;
            display: flex;
            justify-content: center;
        }
    }

    .sobreMim {
        img {
            width: 750px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .veil {
        background-image: url(images/seraphine-me-2.png);
        top: 55px;
        left: -10px;
    }
}

@media screen and (max-width: 1020px) {

    .leftMenu {
        margin-left: -500px;
    }

    .leftMenuBuilds {
        margin-left: -500px;
    }

    .leftMenuSkins {
        margin-left: -500px;
    }

    .contents {
        margin: auto;
        width: 800px;

        h1 {
            width: 100%;
        }
    }

    .champions {
        width: 800px;

        img {
            width: 100px;
        }
    }

    .names-champions {
        margin-bottom: 30px;
        padding: 10px;
    }

    .piltovers {
        width: 800px;

        img {
            width: 100px;
        }
    }

    .skills {
        width: 800px;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 100px;
        }
    }
}

@media screen and (max-width: 895px) {

    .topMenu {
        height: 90px;

        .home {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }

        .imgHome {
            width: 80px;
        }
    }


    .leftMenu {
        margin-left: -500px;
    }

    .leftMenuBuilds {
        margin-left: -500px;
    }

    .leftMenuSkins {
        margin-left: -500px;
    }

    .contents {
        margin: auto;
        width: 600px;

        h1 {
            width: 100%;
        }
    }

    .champions {
        width: 600px;
        justify-content: space-around;

        img {
            width: 110px;
        }
    }

    .names-champions {
        margin-bottom: 30px;
        padding: 10px;
    }

    .piltovers {
        width: 600px;

        img {
            width: 100px;
        }

        .names-champions:hover>p {
            margin-top: -7px;
        }
    }

    .skills {
        width: 600px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.baseboard {
    height: 75px;

    a {
        margin-left: 0px;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
}

.sobreMim {
    p {
        font-size: 20px;
    }

    li {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    img {
        width: 600px;
    }
}


@media screen and (max-width: 700px) {

    .veil {
        background-image: url(images/seraphine-pe.jpg);
        top: 0px;
        left: 0px;
    }

    .topMenu {
        height: 70px;

        .home {
            font-size: 25px;
            display: flex;
            justify-content: center;
        }

        .imgHome {
            width: 60px;
        }
    }

    .topMenuSpacing {
        height: 80px;
    }

    .leftMenu {
        margin-left: -500px;
    }

    .leftMenuBuilds {
        margin-left: -500px;
    }

    .leftMenuSkins {
        margin-left: -500px;
    }

    .contents {
        margin: auto;
        width: 450px;

        h1 {
            width: 100%;
        }
    }

    .champions {
        width: 450px;
        justify-content: space-around;

        img {
            width: 100px;
        }
    }

    .names-champions {
        margin-bottom: 30px;
        padding: 10px;
    }

    .piltovers {
        width: 400px;

        img {
            width: 100px;
        }

        .names-champions:hover>p {
            margin-top: -7px;
        }
    }

    .skills {
        width: 450px;
        flex-direction: column;
        align-items: flex-start;
    }

    .baseboard {
        height: 75px;

        a {
            margin-left: 0px;
            font-size: 30px;
            display: flex;
            justify-content: center;
        }
    }

    .sobreMim {
        img {
            width: 500px;
        }
    }
}

@media screen and (max-width: 600px) {

    .topMenu {
        height: 60px;

        .home {
            font-size: 20px;
            display: flex;
            justify-content: center;
        }

        .imgHome {
            width: 50px;
        }
    }

    .topMenuSpacing {
        height: 60px;
    }

    .leftMenu {
        margin-left: -500px;
    }

    .leftMenuBuilds {
        margin-left: -500px;
    }

    .leftMenuSkins {
        margin-left: -500px;
    }

    .contents {
        margin: auto;
        width: 400px;

        h1 {
            width: 100%;
        }
    }

    .champions {
        width: 400px;
        justify-content: space-around;

        img {
            width: 110px;
        }
    }

    .names-champions {
        margin-bottom: 30px;
        padding: 10px;
    }

    .skills {
        width: 400px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.baseboard {
    height: 75px;

    a {
        margin-left: 0px;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}

.sobreMim {
    img {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .topMenu {
        height: 60px;

        .home {
            font-size: 18px;
            display: flex;
            justify-content: center;
        }

        .imgHome {
            width: 50px;
        }
    }

    .leftMenu {
        margin-left: -500px;
    }

    .leftMenuBuilds {
        margin-left: -500px;
    }

    .leftMenuSkins {
        margin-left: -500px;
    }

    .contents {
        margin: auto;
        width: 300px;

        h1 {
            width: 100%;
        }
    }

    .champions {
        width: 300px;
        justify-content: space-around;

        img {
            width: 100px;
        }
    }

    .names-champions {
        margin-bottom: 30px;
        padding: 10px;
    }

    .piltovers {
        width: 300px;

        img {
            width: 100px;
        }

        .names-champions:hover>p {
            margin-top: -7px;
        }
    }

    .skills {
        width: 300px;
        flex-direction: column;
        align-items: flex-start;
    }

    .skillsVideos {
        height: 238px;

        video {
            width: 350px;
        }
    }

    .baseboard {
        height: 75px;

        a {
            margin-left: 0px;
            font-size: 20px;
            display: flex;
            justify-content: center;
        }
    }

    .sobreMim {
        img {
            width: 300px;
        }
    }
}