@charset "UTF-8";

body {
    margin: 0;
    background-size: 1458px;
    background-position: center;

    font-family: active, sans-serif;
}

.images {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    border: 5px solid #ba89ff;
    box-shadow: 5px 4px 8px #000000;
}

.topMenu {
    background-image: linear-gradient(90deg, #ba89ff, #ff69b4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 135px;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;

    .home {
        font-weight: 400;
        font-style: normal;
        display: flex;
        justify-content: space-around;
        font-size: 48px;
    }

    .imgHome {
        margin-top: 5px;
        width: 80;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #daa520;
        text-shadow: 2px 2px 4px rgb(9, 9, 9);
    }
}

.topMenuSpacing {
    height: 132px;
}

.leftMenu {
    height: 460px;
    width: 320px;
    margin-top: 50px;
    margin-left: 30px;
    border: 5px solid #b348ff;
    box-shadow: 5px 4px 8px #000000;
    position: fixed;

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #daa520;
        text-shadow: 2px 2px 4px rgb(9, 9, 9);
    }

    ul {
        font-size: 28px;

        li {
            margin-left: 10px;
        }

        h2 {
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

.contents {
    height: auto;
    max-width: 1347px;
    margin-top: 50px;
    margin-left: 400px;
    font-size: 28px;
    text-align: justify;

    section {
        scroll-margin-top: 150px;
        scroll-margin-left: 400px;
    }

    h1 {
        text-align: center;
        font-weight: 400;
        background-color: rgb(188 83 243);
    }

    p {
        margin: 5px;
        text-indent: 30px;
    }

    h2 {
        font-weight: 400;
        text-decoration: underline rgb(188 83 243);
    }

    ul {
        li {
            margin-bottom: 10px;
        }
    }
}

.baseboard {
    background-image: linear-gradient(90deg, #ba89ff, #ff69b4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 50px;

    h2 {
        font-weight: 400;
        font-style: normal;
        display: inline;
        font-size: 48px;
        margin: 80px;
    }

    a {
        font-size: 30px;
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #daa520;
        text-shadow: 2px 2px 4px rgb(9, 9, 9);
    }
}