@charset "UTF-8";

:root{
    --corfonte: #000000;
    --sombra: #00000072;
}

.champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    p {
        color: var(--corfonte);
        text-shadow: 2px 2px 2px var(--sombra);
        width: auto;
        position: absolute;
        transition: 0.5s;
    }

    img:hover {
        box-shadow: 5px 4px 7px var(--sombra);
        transition: 1s;
    }
}

.names-champions>p {
    margin-top: -50px;
    z-index: -1;
    transition: 0.5s;
    opacity: 0%;
}

.names-champions:hover>p {
    opacity: 100%;
    margin-top: -5px;
    text-indent: 0px;
}