@charset "UTF-8";

:root{
    --destaque: #ba89ff;
    --destaque4: #bc53f3;
    --sombra: #00000072;
}

.gameplay {
    .videosHyu {
        display: flex;
        justify-content: center;
        max-width: 560px;
        min-width: 290px;
        margin: auto;
        border: 5px solid var(--destaque);
        box-shadow: 5px 4px 8px var(--sombra);
    }

    a {
        color: var(--destaque4);
    }
}