@charset "UTF-8";

:root{
    --destaque: #ba89ff;
    --sombra: #00000072;
}

.titleSkills {
    display: inline;
    align-items: center;

    img {
        position: absolute;
        z-index: 2;
        margin-left: 475px;
    }
}

.skills {
    display: flex;
    align-items: center;

    .skillsVideos {
        margin-bottom: 0px;
        text-indent: 0px;
        border: 5px solid var(--destaque);
        box-shadow: 5px 4px 8px var(--sombra);
    }

    .explications {
        p {
            margin: 30px;
        }
    }
}